@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap');

:root{
    --purple: #7d2efa;
    --black: #000;
    --white: #fff;
}


*{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: 'Montserrat', 'Winky Rough', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    z-index: 1;
}

body{
    height: 100dvh;
    width: 100dvw;
    max-width: 100dvw;
    overflow-x: hidden;
    position: relative;
}

/* PRELOADER */
.preloader{
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--black);
    z-index: 1000;
}

.spinner{
    border: 0.225rem solid rgba(255, 255, 255, 0.1);
    border-top: 0.225rem solid var(--purple);
    height: 3.75rem;
    width: 3.75rem;
    border-radius: 50%;
    animation: spin 1s infinite linear;
}



/* Animations */
@keyframes spin{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

@keyframes fadeOut{
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}

@keyframes fadeIn{
    from{
        opacity: 0;
    } to{
        opacity: 1;
    }
}

@keyframes slideIn {
    from{
        transform: translate(-100vw);
    } to{
        transform: translate(0);
    }
}

@keyframes slideOut {
    from{
        transform: translate(0vw);
    } to{
        transform: translate(-100vw);
    }
}




/* HEADER */
@media screen and (min-width: 800px) {
    .header-container{
        background: black;
        width: 100dvw;
        height: max-content;
        padding: 1rem 5vw;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border-bottom: 2px solid rgba(255, 255, 255, 0.1);
    }

    .header-container div:nth-child(2){
        display: flex;
        flex-direction: row;
        /* gap: 2rem; */
    }

    .header{
        width: 100%;
        /* max-width: 1200px; */
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .header .logo img{
        height: 2rem;
    }

    .header .nav-links{
        display: flex;
        flex-direction: row;
        gap: 2vw;
        align-items: center;
    }

    .header .nav-links a{
        text-decoration: none;
        color: var(--white);
        font-size: 0.95rem;
        font-weight: 400;
    }

    .header .nav-links a:hover{
        color: var(--purple);
        transition: 250ms;
    }

    .header .socials{
        margin-left: 3rem;
        padding: 0 1.5rem 0 3rem;
        border-left: 2px solid var(--white);
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1.25rem;
    }

    .header .socials a{
        text-decoration: none;
        color: var(--white);
        font-size: 0.95rem;
    }

    .header .socials a:hover{
        color: var(--purple);
        transition: 250ms;
    }

    .header .socials a i{
        font-size: 1rem;
    }

    .header .ham-menu, .header .close-ham-menu{
        display: none;
    }
}




@media screen and (max-width: 800px) {
    .header-container{
        background: black;
        width: 100dvw;
        height: max-content;
        padding: 1rem 5vw;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border-bottom: 2px solid rgba(255, 255, 255, 0.1);
    }

    .header{
        width: 100%;
        /* max-width: 1200px; */
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .header .logo img{
        height: 1.5rem;
    }

    .header .close-ham-menu{
        display: none;
        z-index: 30;
        position: fixed;
        bottom: 12.5vh;
        right: 7.55vw;
    }

    .close-ham-menu p{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.5rem;
        padding: 0.3rem 1rem;
        border: 2px solid var(--white);
        color: var(--white);
        font-size: 0.95rem;
        font-weight: 500;
    }

    .header .links{
        display: none;
        animation: slideIn 400ms forwards;
        z-index: 29;
        flex-direction: column;
        position: fixed;
        height: 100dvh;
        width: 100dvw;
        top: 0;
        left: 0;
        padding: 4rem 7.5vw;
        background: var(--black);
    }

    .header .links .nav-links{
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        align-items: flex-end;
        margin-top: 2rem;
    }

    .header .links .nav-links a{
        text-decoration: none;
        width: 100%;
        color: var(--white);
        font-size: 1.25rem;
        font-weight: 400;
        padding-bottom: 0.25rem;
        border-bottom: 2px solid rgba(255, 255, 255, 0.1)
    }

    .header .links .nav-links a:hover{
        color: var(--purple);
        transition: 250ms;
    }

    .header .links .socials{
        margin-top: 7.5vh;
        display: flex;
        flex-direction: row;
        gap: 1.5rem;
    }

    .header .links .socials a{
        text-decoration: none;
        color: var(--white);
        font-size: 1.5rem;
    }

    .header .links .socials a:hover{
        color: var(--purple);
        transition: 250ms;
    }

    .header .ham-menu{
        display: block;
        color: white;
    }

    .header .ham-menu i{
        font-size: 1.5rem;
        cursor: pointer;
    }
}



/* Hero Section */
@media screen and (min-width: 800px) {
    .hero-container{
        background: black;
        width: 100dvw;
        height: max-content;
        padding: 1.5rem 5vw;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border-bottom: 2px solid rgba(255, 255, 255, 0.1);
    }

    .hero{
       width: 100%;
       height: max-content;
       min-height: calc(100vh - 4rem);
        /* max-width: 1200px; */
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 2.5rem;
        align-items: center; 
        color: white;
    }

    .hero .hero-desc{
        display: flex;
        flex-direction: column;
        max-width: 35vw;
    }

    .hero .hero-desc h3{
        font-size: 2rem;
        font-weight: 400;
    }

    .hero .hero-desc h1{
        width: fit-content;
        font-size: 4rem;
        font-weight: 700;
        margin: 0.5rem 0;
        text-align: left;
    }

    .hero .hero-desc h1 span{
        font-size: 4rem;
    }

    .hero .hero-desc h2{
        font-weight: 600;
        color: var(--purple);
        font-size: 2.25rem;
    }

    .hero .hero-desc p{
        margin-top: 0.5rem;
        font-size: 1rem;
        font-weight: 400;
        text-align: justify;
        text-justify: justify;
        color: rgba(255, 255, 255, 0.85);
    }

    .hero .hero-desc a{
        margin-top: 1.5rem;
        width: fit-content;
        text-decoration: none;
        color: white;
        background: var(--purple);
        font-size: 1.15rem;
        font-weight: 500;
        padding: 0.5rem 1rem;
        border-radius: 0.35rem;
        border: 2px solid transparent;
    }

    .hero .hero-desc a:hover{
        color: var(--purple);
        border: 2px solid var(--purple);
        background: none;
        transition: 250ms;
    }

    .hero .hero-img{
        position: relative;
        display: flex;
        flex-direction: row;
        right: 5vw;
    }

    .hero .hero-img img{
        height: 80vh;
        border-radius: 4rem;
    }

    .hero .hero-img .add-info{
        position: absolute;
        right: 0;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .hero .hero-img .add-info section h3{
        font-size: 3rem;
        font-weight: 600;
        text-align: right;
    }

    .hero .hero-img .add-info section h3 span{
        color: var(--purple);
        margin-left: 0.15rem;
    }

     .hero .hero-img .add-info section p{
        text-align: right;
        font-size: 0.85rem;
        color: rgba(255, 255, 255, 0.75);
     }
}




@media screen and (max-width: 800px) {
    .hero-container{
        z-index: 1;
        background: black;
        width: 100dvw;
        height: max-content;
        padding: 1.5rem 5vw;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border-bottom: 2px solid rgba(255, 255, 255, 0.1);
    }

    .hero{
       width: 100%;
       height: max-content;
       min-height: calc(100vh - 4rem);
        /* max-width: 1200px; */
        display: flex;
        flex-direction: column-reverse;
        color: white;
    }

    .hero .hero-desc{
        z-index: 2;
        padding: 2rem 0;
        margin-top: -4.75rem;
        display: flex;
        flex-direction: column;
        background: linear-gradient(360deg, var(--black) 90%, transparent);
    }

    .hero .hero-desc h3{
        font-size: 1.5rem;
        font-weight: 400;
    }

    .hero .hero-desc h1{
        width: fit-content;
        font-size: 3rem;
        font-weight: 700;
        margin: 0.5rem 0;
        text-align: left;
    }

    .hero .hero-desc h1 span{
        font-size: 3rem;
    }

    .hero .hero-desc h2{
        font-weight: 600;
        color: var(--purple);
        font-size: 1.75rem;
    }

    .hero .hero-desc p{
        margin-top: 0.5rem;
        font-size: 0.95rem;
        font-weight: 400;
        text-align: justify;
        text-justify: justify;
        color: rgba(255, 255, 255, 0.85);
    }

    .hero .hero-desc a{
        width: fit-content;
        text-decoration: none;
        color: white;
        background: var(--purple);
        font-size: 1.15rem;
        font-weight: 500;
        padding: 0.35rem 1rem;
        border-radius: 0.15rem;
        border: 2px solid transparent;
        margin: auto;
        margin-top: 2.25rem;
    }

    .hero .hero-desc a:hover{
        color: var(--purple);
        border: 2px solid var(--purple);
        background: none;
        transition: 250ms;
    }

    .hero .hero-img{
        position: relative;
        display: flex;
        flex-direction: row;
        width: 90vw;
    }

    .hero .hero-img img{
        width: 90vw;
        border-radius: 2rem;
    }

    .hero .hero-img .add-info{
        position: absolute;
        z-index: 1;
        right: 0;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .hero .hero-img .add-info section h3{
        font-size: 2rem;
        font-weight: 600;
        text-align: right;
    }

    .hero .hero-img .add-info section h3 span{
        color: var(--purple);
        margin-left: 0.15rem;
    }

     .hero .hero-img .add-info section p{
        text-align: right;
        font-size: 0.5rem;
        color: rgba(255, 255, 255, 0.75);
    }
}